 <!-- Begin Page Content -->
 <div class="container-fluid">

    <!-- Content Row -->
    <div class="row">

        <div class="col-xl-12 col-lg-7">

            <!-- Area Chart -->
            <div class="card shadow mb-4">
                
               <table class="table">
                   <tr>
                        <th>Sr.No.</th>
                        <th>Brand Name</th>
                        <th>Edit</th>
                        <th>Delete</th>
                   </tr>
                        
                   <tr>
                        <th>1</th>
                        <td>Nike</td>
                        <td><i class="fa fa-edit fa-2x text-success"></i></td>
                        <td><i class="fa fa-trash fa-2x text-danger"></i></td>
                   </tr>

                   <tr>
                        <th>2</th>
                        <td>Adidas</td>
                        <td><i class="fa fa-edit fa-2x text-success"></i></td>
                        <td><i class="fa fa-trash fa-2x text-danger"></i></td>
                    </tr>

                    <tr>
                        <th>3</th>
                        <td>Balenciaga</td>
                        <td><i class="fa fa-edit fa-2x text-success"></i></td>
                        <td><i class="fa fa-trash fa-2x text-danger"></i></td>
                    </tr>

                    <tr>
                        <th>4</th>
                        <td>Puma</td>
                        <td><i class="fa fa-edit fa-2x text-success"></i></td>
                        <td><i class="fa fa-trash fa-2x text-danger"></i></td>
                    </tr>

                    <tr>
                        <th>5</th>
                        <td>louis vuitton</td>
                        <td><i class="fa fa-edit fa-2x text-success"></i></td>
                        <td><i class="fa fa-trash fa-2x text-danger"></i></td>
                    </tr>

               </table>
            </div>

           

        </div>

        
</div>
<!-- /.container-fluid -->
