  <!-- Begin Page Content -->
  <div class="container-fluid">

    <!-- Content Row -->
    <div class="row">

        <div class="col-xl-12 col-lg-7">

            <!-- Area Chart -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Brands</h6>
                    <form>
                        <div class="form-group">
                            <input type="text" class="form-control">
                        </div>
                        <button class="btn btn-primary d-block mx-auto"> submit</button>
                    </form>
                </div>
               
            </div>

           

        </div>

        
</div>
<!-- /.container-fluid -->