 <!-- Begin Page Content -->
 <div class="container-fluid">

    <!-- Content Row -->
    <div class="row">

        <div class="col-xl-12 col-lg-7">

            <!-- Area Chart -->
            <div class="card shadow mb-4">
               
               <table class="table">
                   <tr>
                        <th>Sr.No.</th>
                        <th>Product Name</th>
                        <th>Size</th>
                        
                        <th>Cart</th>
                        <th>Delete</th>
                   </tr>
                        
                   <tr>
                        <th>1</th>
                        <td>Hoodie</td>
                        <td><select>
                                <option>S</option>
                                <option>M</option>
                                <option>L</option>
                                <option>XL</option>
                            </select>  
                        </td>
                        
                        <td><i class="fa fa-cart-plus fa-2x text-success"></i></td>
                        <td><i class="fa fa-trash fa-2x text-danger"></i></td>
                   </tr>

                   <tr>
                    <th>2</th>
                    <td>T-Shirt</td>
                    <td><select>
                            <option>S</option>
                            <option>M</option>
                            <option>L</option>
                            <option>XL</option> 
                        </select>  
                    </td>
                    <td><i class="fa fa-cart-plus fa-2x text-success"></i></td>
                    <td><i class="fa fa-trash fa-2x text-danger"></i></td>
                    </tr>

                    <tr>
                        <th>3</th>
                        <td>Jeans</td>
                        <td><select>
                                <option>S</option>
                                <option>M</option>
                                <option>L</option>
                                <option>XL</option> 
                            </select>  
                        </td>
                        <td><i class="fa fa-cart-plus fa-2x text-success"></i></td>
                        <td><i class="fa fa-trash fa-2x text-danger"></i></td>
                        </tr>

                        <tr>
                            <th>4</th>
                            <td>Shirts</td>
                            <td><select>
                                    <option>S</option>
                                    <option>M</option>
                                    <option>L</option>
                                    <option>XL</option> 
                                </select>  
                            </td>
                            <td><i class="fa fa-cart-plus fa-2x text-success"></i></td>
                            <td><i class="fa fa-trash fa-2x text-danger"></i></td>
                        </tr>

                        <tr>
                            <th>5</th>
                            <td>Jackets</td>
                            <td><select>
                                    <option>S</option>
                                    <option>M</option>
                                    <option>L</option>
                                    <option>XL</option> 
                                </select>  
                            </td>
                            <td><i class="fa fa-cart-plus fa-2x text-success"></i></td>
                            <td><i class="fa fa-trash fa-2x text-danger"></i></td>
                        </tr>

                        <tr>
                            <th>6</th>
                            <td>Trousers</td>
                            <td><select>
                                    <option>S</option>
                                    <option>M</option>
                                    <option>L</option>
                                    <option>XL</option> 
                                </select>  
                            </td>
                            <td><i class="fa fa-cart-plus fa-2x text-success"></i></td>
                            <td><i class="fa fa-trash fa-2x text-danger"></i></td>
                        </tr>

               </table> 
            </div>

           

        </div>

        
</div>
<!-- /.container-fluid -->
