<div class="container-fluid">

    <!-- Content Row -->
    <div class="row">

        <div class="col-xl-12 col-lg-7">
            <!-- Area Chart -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                        <form>
                            <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label text-uppercase text-primary">Product Name</label>
                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                            </div>
                            <div class="mb-1">
                            <label for="exampleInputPassword1" class="form-label text-uppercase text-primary">Size</label>
                            </div>
                            <div class="row mb-3 form-check">
                            <div class="col-md-2">
                                <input type="checkbox" class="form-check-input" id="exampleCheck1" name="size">
                                <label class="form-check-label" for="exampleCheck1">S</label>
                            </div>
                            <div class="col-md-2">
                                <input type="checkbox" class="form-check-input" id="exampleCheck1" name="size">
                                <label class="form-check-label" for="exampleCheck1">M</label>
                            </div>
                            <div class="col-md-2">
                                <input type="checkbox" class="form-check-input" id="exampleCheck1" name="size">
                                <label class="form-check-label" for="exampleCheck1">L</label>
                            </div>
                            <div class="col-md-2">
                                <input type="checkbox" class="form-check-input" id="exampleCheck1" name="size">
                                <label class="form-check-label" for="exampleCheck1">XL</label>
                            </div>
                            </div>

                            <div class="mb-3 ">
                                <label for="exampleInputPassword1" class="form-label text-uppercase text-primary">Price Range</label>

                                <div>
                                    <input type="radio" class="" name="price"> 100-500 $
                                    <input type="radio" class="ml-2" name="price"> 500-1000 $
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
               
                </div>
    
               
    
            </div>
    
            
    </div>
    <!-- /.container-fluid -->
                    